<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite" thread-count="2" parallel="tests">
<test name="TestParameterization">
    <parameter name="Website" value="https://www.google.com/">
    </parameter>
    <classes>
        <class name="Parameterization">
        </class>
    </classes>
</test>
</suite>