<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Parallel Test Suite" >
    <test name="Parallel Test" parallel="classes" thread-count="2">
        <classes>
            <class name="org.example.chromeBrowser" />
            <class name="org.example.edgeBrowser" />
        </classes>
    </test>
</suite>